torch==2.3.0         # CUDA 12.1 build (works fine on 3090)
torchvision==0.20.0
timm==0.9.16         # brings xception & many others
opencv-python==4.11.0.80
PyYAML==6.0.1
scikit-learn==1.5.0
matplotlib==3.9.0
pandas==2.2.2
